@charset "UTF-8";

@page :first {
    @top-left {
        content: none;
    }
    @top-center {
        height: 0cm;
    }
    @top-right {
        content: none; 
    } 
}

@page blank {
    @top-left {
        content: none;
    }
    @top-center {
        height: 0cm;
    }
    @top-right {
        content: none; 
    }
}

@page {
    @top-left {
        background: #f19e04;
        content: counter(page);
        height: 1cm;
        text-align: center;
        width: 1cm; 
        margin-bottom: 0.5cm;
    }
    @top-center {
        background: #f19e04;
        content: '';
        display: block;
        height: .05cm;
        opacity: .5;
        width: 100%; 
        margin-bottom: 0.5cm;
    }
    @top-right {
        content: string(heading);
        font-size: 9pt;
        height: 1cm;
        vertical-align: middle;
        width: 100%; 
        margin-bottom: 0.5cm;
    } 
}

@page landscape {
    width: 297mm;
    height: 210mm;
}

@page portrait {
    height: 297mm;
    width: 210mm;
}

html {
    color: #393939;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: 300;
    line-height: 1.5; 
    text-align: justify;
}

body {
    padding-left: 0.5cm;
}

article {
    page-break-before: always;
}

h2 {
    color: black;
    font-size: 20pt;
    string-set: heading content() ' 2022 týden 8'; 
    padding-left: 2.6cm;
    padding-top: 1cm;
    margin-top: 0.1cm;
    margin-bottom: 0cm;
    margin-left: -2.6cm;
    margin-right: -2.5cm;
}

h3 {
    margin-top: 0;
    margin-bottom: 0.5cm;
    margin-left: -2.6cm;
    margin-right: -2.5cm;
    color: black;
    font-weight: bold;
    font-size: 15pt; 
    padding-left: 2.6cm;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}

h4 {
    color: black;
    font-size: 13pt;
    padding-top:0.2cm;
    padding-bottom:0.15cm;
    margin:0; 
}

h5 {
    color: black;
    font-size: 12pt;
    padding-top:0cm;
    padding-bottom:0.15cm;
    margin:0; 
}

hr {
    display: block;
    background: #f19e04;
    height: 0.1cm;
    content: '';
    opacity: .5;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border: none;
}


ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}

ol li {
    counter-increment: my-awesome-counter;
}

ol li::before {
    content: counter(my-awesome-counter) '. ';
    color: black;
    font-weight: normal;
}

#tab1 {
    page: landscape;
}

#tab2 {
    page: landscape;
}

#tab3 {
    page: landscape;
}

#tab4 {
    page: landscape;
}

#tab5 {
    page: landscape;
}

#tab6 {
    page: landscape;
}

#tab7 {
    page: landscape;
}

#tab8 {
    page: landscape;
}



div.obsah a {
    color: inherit;
    text-decoration: none;
}

a {
    color:rgba(13, 13, 224, 0.74);
    text-decoration: none;
}

.figure {
    margin-left: auto;
    margin-right: auto;
    page-break-inside: avoid;
    max-width: 100%;
}

.figure .legenda {
    padding-top: 0.2cm;
    padding-bottom: 0.2cm;
    text-align: center;
    font-size: 10pt;
    text-indent: 0;
    max-width: 100%; 
}

.figure img {
    max-width: 100%;
    max-height: 100%;
}

.eyecatcher {
    margin-left: auto;
    margin-right: auto;
}

.eyecatcher img {
    max-width: 100%;
}

.eyecatcher.legenda img {
    text-align: center;
}

.map-figure img {
    max-width: 100%;
    max-height: 100%;
}

.structure-figure img {
    max-width: 100%;
}



article#kontakty dl dt {
    font-weight: 400;
    flex-wrap: wrap;
    margin: 0 ;
    padding-left: 0 ;
}

.title-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}

.title-info .title {
    flex-basis: 20rem;
    font-weight: bold;
    font-size: 12pt;
}

.title-info .title::after {
    content: ' '
}

.title-info .content {
    flex-basis: 100%;
    font-size: 12pt;
}


.map-figure {
    display: flex;
}

.mapa {
    align-content:center;
    flex: 1 50%;
    padding: 1rem;
}

.mapa img {
    display: block;
}

.mapa .legenda {
    padding-top: 0.5cm;
    padding-bottom: 0.2cm;
    font-size: 10pt;
}



.structure-figure {
    display: flex;
}

.struktura {
    align-content:center;
    flex: 1 50%;
    padding: 1rem;
}

.strutktura img {
    display: block;
}

.struktura .legenda {
    padding-top: 0.5cm;
    padding-bottom: 0.2cm;
    font-size: 10pt;
}

.tabulka-kratka {
    page-break-inside: avoid;
}

.tabulka table {
    border-collapse: collapse;
    font-size: 9pt;
}


.tabulka th {
    border-top: 0.5mm solid #f19e04;
    border-bottom: 0.3mm solid #f19e04;
    background: #f19e04;
    color: black;
    font-weight: normal;
    padding-top: 0.25cm;
    padding-bottom: 0.25cm;
    text-transform:uppercase;
    font-size: 9pt;
    padding-right: 2mm;
    padding-left: 2mm;
}

.tabulka td {
    padding-top: 2mm;
    padding-bottom: 0mm;
    padding-right: 2mm;
    padding-left: 2mm;
}

.tabulka tr > th:first-child {
    text-align: left;
    white-space: nowrap;
}
.tabulka tr > td:first-child {
    text-align: left;
}

.tabulka tbody tr:last-child td {
    border-bottom: 0.5mm solid #f19e04;
}
    
.tabulka th, td {
    text-align: center; 
}

.tabulka .interest {
    background: #ffeea4;
}

.tabulka .concern {
    background:#ffe572;
}



.tabulka .legenda {
    padding-top: 0.5cm;
    padding-bottom: 0.2cm;
    text-align: center;
    font-size: 10pt;
    text-indent: 0;
    max-width: 100%; 
}

.tabulka table {
    margin-left: auto;
    margin-right: auto;
}

.tabulka.casova table {
    margin-left: auto;
    margin-right: auto;
}

.tabulka.casova table {
    font-size: 9pt;
}

.tabulka.casova tr > td:first-child {
    white-space: nowrap;
}

.tabulka.casova th {
    border-top: 0.5mm solid #f19e04;
    border-bottom: 0.3mm solid #f19e04;
    background: #f19e04;
    color: black;
    font-weight: normal;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    text-transform:uppercase;
    font-size: 9pt;
    padding-right: 1mm;
    padding-left: 1mm;
}

.tabulka.casova td {
    padding-top: 2mm;
    padding-bottom: 0mm;
    padding-right: 1mm;
    padding-left: 1mm;
}

/* stinovani tabulky */
.tabulka.casova.AAmutations tbody > tr:nth-child(even) td {
    background:#bebada2c;
}
.tabulka.casova.AAmutations tbody > tr:nth-child(odd) td {
    background: none;
}

.tabulka.regiony.AAmutations tbody > tr:nth-child(even) td {
    background:#bebada2c;
}
.tabulka.regiony.AAmutations tbody > tr:nth-child(odd) td {
    background: none;
}

/* pocty barevne */
.tabulka .level_80 {
    background:#ffffff;
}

.tabulka .level_60 {
    background:#ffffff;
}

.tabulka .level_40 {
    background:#ffffff;
}

.tabulka .level_20 {
    background:#ffffff;
}

.tabulka .level_00 {
    background: #ffffff;;
}


/* Michalovy heatmapy */
.heatmap {
    page-break-before: always;
    page: blank;
}

.heatmap img {
    max-height: 27cm;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
}


.contributors {
    font-weight:bold;
    padding-top: 0.4cm;
}

.affilations {
    font-style: normal;
    padding-left: 0;
}


hr .contributions {
    display: block;
    background:#f19e04;
    height: 0.05cm;
    content: '';
    opacity: .2;
    width: 50%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: auto;
    margin-right: auto;
    border: none;
}