<div class="tabulka casova AAmutations">
   
    <div class="legenda">
        <b>Tab. 6:</b> 
        Relativní zastoupení aminokyselinových mutací od {{STARTING_WEEK}}. týdne roku 2021. 
        Mutace jsou porovnávány s&nbspreferenčním izolátem wuchanské varianty SARS-CoV-2 (ref.č.&nbspNC_045512.2 o&nbspdélce 29&nbsp903 bp).
        Grafický přehled zahrnuje frekvence aminokyselinových substitucí, 
        které se v&nbsp;jednom týdnu vyskytovaly ve více jak 10% a zároveň jsou z&nbspdaného týdne dostupné alespoň tři izoláty obsahující tuto mutaci. 
        Počet vzorků dostupných z&nbsp;daného týdne je uveden v posledním řádku. <br>
        Mutace jsou uvedeny ve formátu 
        &lt;protein&gt;:&lt;aminokyselina&nbsp;v&nbsp;referenční&nbsp;sekvenci&gt;&lt;pozice&nbsp;v&nbsp;proteinu&gt;&lt;aminokyselina&nbsp;v&nbsp;mutované sekvenci&gt.  
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Týden</th>
                {% for w in range( 33,44,1 ) %}  
                    <th>2021_{{w}}</th>
                {% endfor %}
                <th>Počet vzorků</th>
            </tr>
        </thead>
        <tbody>     
            {% set table = input_table_tsv("input/mkolisko/tab6.tsv") %}   
            {% for line in sort_time_table(table[1:-3]) %}
                {% if is_non_zero_line(line) %}
                    <tr >  
                        <td>{{line[0]}}</td>
                        {% for item in line[1:] %}
                            {% if float(item) > 0.9999 %}
                                <td>{{item}}</td> 
                            {% elif 0.00009 > float(item) %}
                                <td>{{'%.0f' % float(item)}}</td>  
                            {% else: %}
                                <td>{{'%.4f' % float(item)}}</td> 
                            {% endif %} 
                        {% endfor %}
                    </tr>     
                {% endif %}    
            {% endfor %}   
            
            {% set line = table[-2] %}
            <tr>  
                <td>Ostatní</td>
                {% for item in line[1:-1] %}
                    {% if 0.00009 > float(item) %}
                        <td>{{'%.0f' % float(item)}}</td>  
                    {% else: %}
                        <td>{{'%.2f' % float(item)}}</td> 
                    {% endif %} 
                {% endfor %}
            </tr>  
           
       
            {% set line = table[-1][1:] %}
            <tr>  
                <td>Počet vzorků</td>
                {% for item in line %}  
                    <td class="{{ color_class(item,line) }}">{{ item }}</td>                 
                {% endfor %}
            </tr>  
        </tbody>   
    </table>
   
</div>
