<div class="tabulka regiony AAmutations">

    <div class="legenda">
        <b>Tab. 7:</b> 
        Relativní zastoupení aminokyselinových mutací v&nbsp;krajích České republiky. 
        Mutace jsou porovnávány s&nbspreferenčním izolátem wuhanské varianty SARS-CoV-2 (ref.č.&nbspNC_045512.2 o&nbspdélce 29&nbsp903 bp).
        Tabulka zahrnuje frekvence aminokyselinových substitucí, které se v&nbsp;jednom kraji vyskytovaly ve více jak 10 % vzorků a zároveň jsou z&nbsp;daného kraje dostupné alespoň tři izoláty obsahující tuto mutaci. 
        <br>V posledním sloupci je uveden celkový výskyt dané mutace, celkový počet vzorků z&nbsp;daného kraje je uveden na posledním řádku. <br>
        Mutace jsou uvedeny ve formátu &lt;protein&gt;:&lt;aminokyselina&nbsp;v&nbsp;referenční&nbsp;sekvenci&gt;&lt;pozice&nbsp;v&nbsp;proteinu&gt;&lt;aminokyselina&nbsp;v&nbsp;mutované sekvenci&gt;&lt;-&gt;. 
    </div>

    <table>
        {% set table = input_table_tsv("input/mkolisko/tab7.tsv") %}
        {% set hlavicka = prejmenovani_hlavicky(table[0],zkratky_regionu) %}
        <thead>
            <tr>
                {% for item in hlavicka %}
                <th>{{item}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody> 
            {% for line in sort_time_table(table[1:-2]) %}
                <tr>  
                    <td>{{line[0]}}</td>
                    {% for item in line[1:] %}
                        {% if float(item) > 0.9999 %}
                            <td>{{'%.0f' % float(item)}}</td> 
                        {% elif 0.00009 > float(item) %}
                            <td>{{'%.0f' % float(item)}}</td>  
                        {% else: %}
                            <td>{{'%.4f' % float(item)}}</td> 
                        {% endif %} 
                    {% endfor %}
                </tr>   
            {% endfor %}   

            {% set line = table[-2] %}
            <tr>  
                <td>Ostatní</td>
                {% for item in line[1:-1] %}
                    {% if 0.00009 > float(item) %}
                        <td>{{'%.0f' % float(item)}}</td>  
                    {% else: %}
                        <td>{{'%.4f' % float(item)}}</td> 
                    {% endif %} 
                {% endfor %}
            </tr>   

            {% set line = table[-1] %}
            <tr>  
                <td>Počet vzorků</td>
                {% for item in line[1:] %}
                <td>{{ item }}</td> 
                {% endfor %}
            </tr>  

        </tbody>   
        
    </table>   

</div>
