<div class="tabulka casova AAmutations">
   
    <div class="legenda">
        <b>Tab. 8:</b> 
        Relativní zastoupení aminokyselinových mutací v posledních třech kalendářních týdnech tohoto roku. 
        Mutace jsou porovnávány s&nbspreferenčním izolátem wuhanské varianty SARS-CoV-2 (ref.č.&nbspNC_045512.2 o&nbspdélce 29&nbsp903 bp).
        Grafický přehled zahrnuje frekvence aminokyselinových substitucí, 
        které se v&nbsp;jednom týdnu vyskytovaly ve více jak 10% a zároveň jsou z&nbspdaného týdne dostupné alespoň tři izoláty obsahující tuto mutaci. 
        Počet vzorků dostupných z&nbsp;daného týdne je uveden v posledním řádku. <br>
        Mutace jsou uvedeny ve formátu 
        &lt;protein&gt;:&lt;aminokyselina&nbsp;v&nbsp;referenční&nbsp;sekvenci&gt;&lt;pozice&nbsp;v&nbsp;proteinu&gt;&lt;aminokyselina&nbsp;v&nbsp;mutované sekvenci&gt. 
        
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Týden</th>
                <th>2020_53</th>
                <th>2021_01</th>
                <th>2021_02</th>
                <th>2021_03</th>
                <th>2021_04</th>
                <th>2021_05</th>
                <th>2021_06</th>
                <th>2021_07</th>
                <th>2021_08</th>
                <th>2021_09</th>
                <th>2021_10</th>
                <th>2021_11</th>
                <th>2021_12</th>
                <th>2021_13</th>
                <th>2021_14</th>
                <th>2021_15</th>
                <th>2021_16</th>
                <th>2021_17</th>
                <th>2021_18</th>
                <th>2021_19</th>
                <th>2021_20</th>
                <th>2021_21</th>
                <th>2021_22</th>
                <th>Neurčeno</th>
            </tr>
        </thead>
        <tbody>
            
            {% set table = input_table_tsv("input/mkolisko/Mutation_Weekly_Week24_Hanka.tsv") %}   
            {% for line in table[2:-2] %}
                <tr >  
                    <td>{{line[0]}}</td>
                    {% for item in line[1:] %}
                        {% if float(item) > 0.9999 %}
                            <td>{{'%.0f' % float(item)}}</td> 
                        {% elif 0.00009 > float(item) %}
                            <td>{{'%.0f' % float(item)}}</td>  
                        {% else: %}
                            <td>{{'%.4f' % float(item)}}</td> 
                        {% endif %} 
                    {% endfor %}
                </tr>         
            {% endfor %}   
            
            {% set line = table[-1] %}
            <tr>  
                <td>Ostatní</td>
                {% for item in line[1:] %}
                    {% if float(item) > 0.9999 %}
                        <td>{{'%.0f' % float(item)}}</td> 
                    {% elif 0.00009 > float(item) %}
                        <td>{{'%.0f' % float(item)}}</td>  
                    {% else: %}
                        <td>{{'%.4f' % float(item)}}</td> 
                    {% endif %} 
                {% endfor %}
            </tr>  
           
            {% set line = table[1] %}  
            <tr>  
                <td>Počet vzorků</td>
                {% for item in line[1:] %}
                    <td class="{{color_class(line,item)}}">{{ item }}</td>                 
                {% endfor %}
            </tr>   

        </tbody>   
    </table>
   
</div>
