<div class="tabulka casova">
    <div class="legenda">
        <b>Tab. 3:</b> 
        Tabulka uvádí relativní zastoupení výskytu nejčastějších variant SARS-CoV-2 ve vzorcích od {{STARTING_WEEK}}. týdne roku 2021.  
        V&nbsp;tabulce jsou uvedeny jen varianty přítomné v&nbsp;daném týdnu nejméně ve třech izolátech a zároveň ve více než 10&nbsp;% analyzovaných vzorků. 
        Barevně jsou označeny Varianty hodné pozornosti (<i>Variants of Concern</i>, tmavší zabarvení) 
        a Varianty hodné zájmu (<i>Variants of Interest</i>, světlejší zabarvení).  
        Počet vzorků z&nbsp;daného kraje je uveden v&nbsp;posledním řádku. 
        Pod "None" jsou zařazeny validní sekvence, které nástrojem Pangolin nebyly přiřazeny k&nbsp;žádné variantě. 
    </div>

    <table>
        <thead>
            <tr>
                <th>Týden</th>
                <th>Všechny týdny</th>
                {% for w in range( 51,53,1 ) %}  
                    <th>2021_{{w}}</th>
                {% endfor %}
                {% for w in range( 1,11,1 ) %}  
                    <th>2022_{{w}}</th>
                {% endfor %}
                <th>Počet vzorků</th>
            </tr>
        </thead>
        <tbody>
            {% set voc = VOC %}
            {% set voi = VOI %}
            {% set table = input_table_tsv("input/kolarmi/tableLineageWeek.tsv") %}
            {% for line in table[1:-2] %}  
                {% if is_non_zero_line(line) %}
                    {% if line[0] in voi %}
                        {% set cls = "interest" %}
                    {% elif line[0] in voc %}
                        {% set cls = "concern" %}
                    {% else %}
                        {% set cls = "" %}
                    {% endif %}   

                    <tr class="{{cls}}">  
                        <td><nobr>{{line[0]}}</nobr></td>
                    {% for item in line[1:] %}
                        {% if float(item) > 0.9999 %}
                            <td>{{'%.0f' % float(item)}}</td> 
                        {% elif 0.00009 > float(item) %}
                            <td>{{'%.0f' % float(item)}}</td>  
                        {% else: %}
                            <td>{{'%.4f' % float(item)}}</td> 
                        {% endif %} 
                    {% endfor %}
                    </tr> 
                {% endif %}                                            
            {% endfor %} 

            {% set line = table[-2] %}
            <tr>  
                <td>Ostatní</td>
                {% for item in line[1:] %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>   
            
            {% set line = table[-1][1:] %}
            <tr>  
                <td>Počet vzorků</td>
                {% for item in line %}  
                    <td class="{{ color_class(item,line) }}">{{ item }}</td>                 
                {% endfor %}
            </tr>                
        </tbody>   
    </table>  
</div>
