<div class="tabulka regiony">
    
    <div class="legenda">
        <b>Tab. 1:</b> 
        Relativní zastoupení variant SARS-CoV-2 v&nbsp;krajích České republiky. 
        Tabulka uvádí frekvenci výskytu variant SARS-CoV-2 ve vzorcích s&nbsp;datem odběru mezi <nobr>1. 1. 2021</nobr> a <nobr>{{DF_DATE}}</nobr> ve členění podle krajů. 
        Pro tuto analýzu bylo vybráno z&nbsp;celkového datasetu {{ACTUAL_SAMPLE_SIZE}}, u&nbsp;nichž je dostupná validní sekvence celého genomu a informace o&nbsp;datu odběru. 
        V&nbsp;tabulce jsou uvedeny jen varianty přítomné v&nbsp;alespoň jednom kraji nejméně ve dvou izolátech a zároveň ve více než 1&nbsp;% analyzovaných vzorků. 
        Počet vzorků, ve kterých byla identifikována daná varianta, je uveden v posledním sloupci. Počet vzorků z&nbsp;daného kraje je uveden v&nbsp;posledním řádku. 
        
        Barevně jsou označeny Varianty hodné pozornosti (<i>Variants of Concern</i>, tmavší zabarvení) 
        a Varianty hodné zájmu (<i>Variants of Interest</i>, světlejší zabarvení).
    </div>

    <table>
        {% set table = input_table_tsv("input/kolarmi/tableLineage.tsv") %}
        {% set hlavicka = prejmenovani_hlavicky(table[0], zkratky_regionu) %}
        {% set voc = ['B.1.1.7','B.1.1.7+E484K', 'B.1.351', 'P.1', 'B.1.617.2'] %}
        {% set voi = ['B.1.525','B.1.427','B.1.429','P.3','B.1.616','B.1.617.1', 'B.1.617.3', 'B.1.620', 'B.1.621']%}
        <thead>
            <tr>
                {% for item in hlavicka %}
                <th>{{item}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for line in table[1:-2] %}
                {% if line[0] in voi %}
                    {% set cls = "interest" %}
                {% elif line[0] in voc %}
                    {% set cls = "concern" %}
                {% else %}
                    {% set cls = "" %}
                {% endif %}         
                <tr class="{{cls}}">  
                    <td><nobr>{{line[0]}}</nobr></td>
                    {% for item in line[1:] %}
                        {% if float(item) > 0.9999 %}
                            <td>{{'%.0f' % float(item)}}</td> 
                        {% elif 0.00009 > float(item) %}
                            <td>{{'%.0f' % float(item)}}</td>  
                        {% else: %}
                            <td>{{'%.4f' % float(item)}}</td> 
                        {% endif %} 
                    {% endfor %}
                </tr>                            
            {% endfor %}

            {% set line = table[-2][1:] %}
            <tr>  
                <td>Ostatní</td>
                {% for item in line %}
                    {% if float(item) > 0.9999 %}
                        <td>{{'%.0f' % float(item)}}</td> 
                    {% elif 0.00009 > float(item) %}
                        <td>{{'%.0f' % float(item)}}</td>  
                    {% else: %}
                        <td>{{'%.4f' % float(item)}}</td> 
                    {% endif %} 
                {% endfor %}
            </tr>   
            
            {% set line = table[-1][1:] %}
            <tr>  
                <td>Počet vzorků</td>
                {% for item in line %}
                    <td class="{{color_class(line,item)}}">{{ item }}</td>                 
                {% endfor %}
            </tr>  
        </tbody>   
    </table>

</div>
