<div class="tabulka casova">
    <div class="legenda">
        <b>Tab. 4:</b> 
        Tabulka uvádí relativní zastoupení výskytu všech variant SARS-CoV-2 ve vzorcích od {{TYDNY_NAZPET}}. týdne roku 2021. 
        V&nbsp;tabulce jsou uvedeny jen varianty přítomné v&nbsp;daném týdnu nejméně ve třech izolátech a zároveň ve více než 10&nbsp;% analyzovaných vzorků. 
        Počet vzorků dostupných z&nbsp;daného týdne je uveden v posledním řádku. 
        Barevně jsou označeny Varianty hodné pozornosti (<i>Variants of Concern</i>, tmavší zabarvení) 
        a Varianty hodné zájmu (<i>Variants of Interest</i>, světlejší zabarvení).  
    </div>    
    <table>
        <thead>
            <tr>
                <th>Týden</th>
                <th>2021_15</th>
                <th>2021_16</th>
                <th>2021_17</th>
                <th>2021_18</th>
                <th>2021_19</th>
                <th>2021_20</th>
                <th>2021_21</th>
                <th>2021_22</th>
                <th>2021_23</th>
                <th>2021_24</th>
                <th>2021_25</th>
            </tr>
        </thead>
        <tbody>
            {% set voc = ['B.1.1.7','B.1.1.7+E484K', 'B.1.351','P.1', 'B.1.617.2'] %}
            {% set voi = ['B.1.525','B.1.427','B.1.429','P.3','B.1.616','B.1.617.1', 'B.1.617.3','B.1.620', 'B.1.621']%}
            {% set table = input_table_tsv("input/kolarmi/tableAllLineageWeek.tsv") %}
            {% for line in table[1:-2] %}  
                {% if is_non_zero_line(line) %}
                    {% if line[0] in voi %}
                        {% set cls = "interest" %}
                    {% elif line[0] in voc %}
                        {% set cls = "concern" %}
                    {% else %}
                        {% set cls = "" %}
                    {% endif %}   

                    <tr class="{{cls}}">  
                        <td><nobr>{{line[0]}}</nobr></td>
                    {% for item in line[-13:-2] %}
                        {% if float(item) > 0.9999 %}
                                <td>{{'%.0f' % float(item)}}</td> 
                            {% elif 0.00009 > float(item) %}
                                <td>{{'%.0f' % float(item)}}</td>  
                            {% else: %}
                                <td>{{'%.4f' % float(item)}}</td> 
                            {% endif %} 
                        {% endfor %}
                        </tr> 
                    {% endif %}                                            
                {% endfor %} 
        
            {% set line = table[-1] %}
            <tr>  
                <td>Počet vzorků</td>
                {% for item in line[-13:-2] %}
                <td>{{ item }}</td> 
                {% endfor %}
            </tr>                 
        </tbody>   
    </table>
</div>
